@charset "UTF-8";
.what-we-do__line {
  border: 1px solid #2C4058;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: #2C4058;
}
.what-we-do__card {
  max-width: 1385px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 177px;
}
.what-we-do__card_content {
  max-width: 474px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 115px;
}
.what-we-do__card_img {
  position: relative;
}
.what-we-do__card-background {
  width: 585px;
  height: 470px;
  background-color: #55B7FF;
}
.what-we-do__card-img {
  width: 585px;
  height: 470px;
  position: absolute;
  top: 57px;
  left: 215px;
  z-index: 2;
  transition: all 0.7s ease;
}
.what-we-do__card-img.scroll {
  transition: all 0.7s ease;
  top: 0;
  left: 0;
}
.what-we-do__card-img_1 {
  left: -215px;
}
.what-we-do__card-img_1.scroll {
  transition: all 0.7s ease;
  top: 0;
  left: 0;
}
.what-we-do__card_reverse {
  flex-direction: row-reverse;
  margin-left: auto;
}
.what-we-do__card-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  color: #2C4058;
}
.what-we-do__card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  text-transform: uppercase;
  color: #2C4058;
  margin-bottom: 19px;
}
.what-we-do__card-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  margin-bottom: 40px;
}
.what-we-do__card-city {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #2C4058;
  margin-bottom: 90px;
}

.btn {
  width: 190px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  background: none;
  border: 1px solid #2C4058;
  padding: 16px 40px;
  margin-bottom: 60px;
}

.gallery {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}
.gallery__content, .gallery__content_1 {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 60px;
  position: relative;
}
.gallery__card_left {
  width: 49.5%;
  height: 100%;
  position: relative;
}
.gallery__card_left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.gallery__card_right {
  width: 49.5%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.gallery__card_left::before {
  pointer-events: none;
}
.gallery__card_left img, .gallery__card_right img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.gallery__card_left img:hover, .gallery__card_right img:hover {
  cursor: pointer;
}
.gallery__button {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0;
}
.gallery__card_img {
  width: 100%; /* чтобы занимала всю ширину блока */
  height: 400px; /* фиксированная высота */
  object-fit: cover;
  display: block;
}
.gallery__card_right img {
  width: calc(50% - 5px);
  height: 195px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background: #fff;
  height: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header__background {
  max-width: 1600px;
  width: 100%;
  height: 800px;
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1220px) {
  .header__background {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  width: 100%;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}
.header__images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}
.header__images::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2C4058;
  opacity: 0;
  z-index: 5;
}
.header__menu {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 52px;
  margin: 0 auto;
  margin-bottom: 123px;
  position: relative;
  z-index: 3;
}
.header__content {
  max-width: 939px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
}
.header__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1080px) {
  .header__title {
    font-size: 60px;
  }
}
.header__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 240px;
}
.header__dots {
  width: 20px;
  position: absolute;
  top: 295px;
  left: 94%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 3;
}
.header__sentinel {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.arrow {
  margin: 0;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  z-index: 3;
}

.header__arrow {
  position: absolute;
  top: 680px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__arrow {
  margin: 0 auto;
  position: sticky;
  top: 20px;
  right: 48.5%;
  color: #2C4058;
  border: 1px solid #2C4058;
  display: none;
}

.logo {
  margin-right: 34px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}
.nav__list {
  max-width: 515px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav__link {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}

.wrapper__dot {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 14px;
  border: 1px solid #fff;
}

.header__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  z-index: 23;
}

.active {
  background-color: #fff;
}

.social {
  max-width: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.social__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.social__item {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__link {
  display: block;
}

.fadeout {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fadein {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: -2;
}

#map {
  width: 100%;
  height: 700px;
  z-index: 1;
  filter: hue-rotate(459deg) brightness(0.9) contrast(1.2);
  transition: filter 0.5s ease;
}

.custom-icon {
  filter: hue-rotate(999deg) brightness(0.9) contrast(1.2);
}

.controls {
  position: absolute;
  top: 12px;
  left: 50px;
  z-index: 1000;
  background: #4be251;
  padding: 8px;
  border-radius: 6px;
  font-family: sans-serif;
}

.controls button {
  margin: 4px;
  padding: 6px 12px;
  cursor: pointer;
}

.leaflet-grab {
  cursor: pointer;
}

.leaflet-container {
  color: #ed17c2;
}

.map__btn_1 {
  color: #042cf6;
  font-size: 20px;
}

.map__btn_2 {
  color: #17ed3e;
  font-size: 20px;
}

.map__btn_3 {
  color: #ed1703;
  font-size: 20px;
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(20) forwards;
  border-right: 2px solid black;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.footer {
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  height: 549px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__upper-block, .footer__lower-block {
  display: inline-flex;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
}
.footer__upper-block {
  margin-bottom: 41px;
}
.footer__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}

.news {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../assets/img/Background.jpg);
}
.news__subtitle {
  color: #fff;
}
.news__slider_line {
  position: relative;
  max-width: 1170px;
  width: 100%;
  display: flex;
  gap: 30px;
  margin: 0 auto;
}
.news__card {
  max-width: 370px;
  width: 100%;
  height: 514px;
  background: #fff;
  color: #2C4058;
}
.news__card_title {
  max-width: 330px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 115%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #2C4058;
}
.news__card_text {
  max-width: 330px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  margin: 0 auto;
  margin-bottom: 39px;
  color: #2C4058;
}
.news__card_info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.news__card_info-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 20px;
}
.news__card_info-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #2C4058;
  margin-bottom: 6px;
}
.news__card_info-date {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #55B7FF;
}
.news__card_info-content {
  padding-top: 7px;
}

.section__line {
  border: 1px solid #fff;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: #fff;
}

.slider__dots {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.slick-list {
  max-width: 2220px;
  width: 100%;
  gap: 30px;
}

.slick-slide {
  width: 370px;
  height: 514px;
  margin-right: 20px;
  background: #fff;
}

.slick-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: transparent;
  outline: none;
}

.slick-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: transparent;
  outline: none;
}

.slick-prev::before,
.slick-next::before {
  content: ">";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.slick-prev::before {
  content: "<";
}

.slick-dots {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
}

#slick-slide-control00,
#slick-slide-control01,
#slick-slide-control02,
#slick-slide-control03,
#slick-slide-control04,
#slick-slide-control05 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  color: transparent;
  z-index: 23;
  outline: none;
  padding-top: 5px;
}

.news__card .slick-active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.slick-dots .slick-active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}