.gallery {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;

    &__content,
    &__content_1 {
        max-width: 1170px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        margin: 0 auto;
        margin-bottom: 60px;
        position: relative;

        @media screen and (max-width: 900px) {
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    }

    &__card_left {
        width: 49.5%;
        height: 100%;
        position: relative;

        @media screen and (max-width: 900px) {
        width: 100%;
    }
    }

    &__card_left::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99.5%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

        @media screen and (max-width: 900px) {
        width: 100%;
    }
}

    &__card_right {
        width: 49.5%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        @media screen and (max-width: 900px) {
        width: 100%;
    }
}

    &__card_left::before {
  pointer-events: none;
}

    &__card_left img,
    &__card_right img {
        width: 100%;
        height: 400px;
        object-fit: cover;

    @media screen and (max-width: 500px) {
        min-width: 245px;
    }
}

    &__card_left img:hover,
    &__card_right img:hover {
        cursor: pointer;
        transform: translate(5px, 5px);
        transition: all 0.5s ease;
    }

    &__button {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;

    @media screen and (max-width: 418px) {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    }

    &__card_img {
       width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    }


    &__card_right img {
    width: calc(50% - 5px);
    height: 195px;

    @media screen and (max-width: 500px) {
        width: 100%;
    }
  }
}

