.news {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../assets/img/background.jpg);

    &__subtitle {
    color: #fff;
    }

    &__slider_line {
        position: relative;
        max-width: 1170px;
        width: 100%;
        display: flex;
        gap: 30px;
        margin: 0 auto;
    }

    &__card {
        max-width: 370px;
        width: 100%;
        background: $color-white;
        color: $color-black;
        cursor: pointer;

        &_title {
            max-width: 330px;
            font-family: $font-montserrat;
            font-weight: 700;
            font-size: 22px;
            line-height: 115%;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 15px;
            color: $color-black;
        }

        &_text {
            max-width: 330px;
            font-family: $font-open;
            font-weight: 400;
            font-size: 18px;
            line-height: 122%;
            margin: 0 auto;
            margin-bottom: 39px;
            color: $color-black;
            overflow: hidden;
            transition: height 1s ease;
        }

        &_info {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 0 auto;
            margin-bottom: 15px;
        }

        &_info-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 0 20px;
        }

        &_info-name {
            font-family: $font-montserrat;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: $color-black;
            margin-bottom: 6px;
        }

        &_info-date {
            font-family: $font-montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: $color-background;
        }

        &_info-content {
            padding-top: 7px;
        }
    }
}

.section__line {
    border: 1px solid #fff;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    background: #fff;
}

.slider__dots {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.slick-list {
    max-width: 2220px;
    width: 100%;
    gap: 30px;
}

.slick-slide {
    width: 370px;
    margin-right: 20px;
    background: $color-white;
}

.slick-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $color-white;
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    outline: none;
}

.slick-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $color-white;
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    outline: none;
}

.slick-prev:hover,
.slick-next:hover {
    background: $color-white;
    transition: all 0.5s ease;
}

.slick-prev::before,
.slick-next::before {
    content: ">";
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
}

.slick-next:hover::before,
.slick-prev:hover::before {
    color: $color-black;
    transition: all 0.5s ease;
}

.slick-prev::before {
    content: "<";
}

.slick-dots {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#slick-slide-control00,
#slick-slide-control01,
#slick-slide-control02,
#slick-slide-control03,
#slick-slide-control04,
#slick-slide-control05 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $color-white;
    background-color: transparent;
    color: transparent;
    z-index: 23;
    outline: none;
    padding-top: 5px;
    cursor: pointer;
}

.news__card .slick-active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-white;
}

.slick-dots .slick-active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-white;
}
