.news {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../assets/img/Background.jpg);

    &__subtitle {
    color: #fff;
    }

    &__slider {
        position: relative;
    }

    &__arrow_left {
        position: absolute;
        top: 50%;
        left: 60px;
        transform: translate(-50%, -50%);
    }

    &__arrow_right {
        position: absolute;
        top: 50%;
        right: 60px;
        transform: translate(50%, -50%);
    }

    &__slider_line {
        max-width: 1170px;
        width: 100%;
        display: flex;
        gap: 30px;
        margin: 0 auto;
    }

    &__card {
        max-width: 370px;
        width: 100%;
        height: 514px;
        background: $color-white;
        color: $color-black;

        &_title {
            max-width: 330px;
            font-family: $font-montserrat;
            font-weight: 700;
            font-size: 22px;
            line-height: 115%;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 15px;
            color: $color-black;
        }

        &_text {
            max-width: 330px;
            font-family: $font-open;
            font-weight: 400;
            font-size: 18px;
            line-height: 122%;
            margin: 0 auto;
            margin-bottom: 39px;
            color: $color-black;
        }

        &_info {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 0 auto;
            margin-bottom: 15px;
        }

        &_info-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 0 20px;
        }

        &_info-name {
            font-family: $font-montserrat;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: $color-black;
            margin-bottom: 6px;
        }

        &_info-date {
            font-family: $font-montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: $color-background;
        }

        &_info-content {
            padding-top: 7px;
        }
    }
}

.section__line {
    border: 1px solid #fff;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    background: #fff;
}

.slider__dots {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

