$color-linear: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
$color-white: #fff;
$color-black: #2C4058;
$color-background: #55B7FF;
$color-text: #000000;


$font-montserrat: 'Montserrat', sans-serif;
$font-source: 'Source Sans Pro', sans-serif;
$font-open: 'Open Sans', sans-serif;




// $color-black: #16133D;
// $color-green: #3DB370;
// $color-grey: #7690A8;

// $color-light-grey: #EFEEF3;

// $font-roboto: 'Roboto', sans-serif;
// $font-quicksand: 'Quicksand', sans-serif;
// $font-nunito: 'Nunito Sans', sans-serif;