$color-linear: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
$color-white: #fff;
$color-black: #2C4058;
$color-background: #55B7FF;
$color-text: #000000;
$color-blue-linear: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
$color-hover: #7E5AFF;


$font-montserrat: 'Montserrat', sans-serif;
$font-source: 'Source Sans Pro', sans-serif;
$font-open: 'Open Sans', sans-serif;