@import "vars";
@import "what_we_do";
@import "gallery";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-montserrat;
    scroll-behavior: smooth;
    background: $color-white;
    height: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header__background {
    max-width: 1600px;
    width: 100%;
    height: 800px;
    background: $color-linear;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 1220px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media screen and (max-width: 900px) {
        margin-bottom: 50px;
    }
}

.header {
    width: 100%;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;

    &__images {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        z-index: 1;
    }

    &__images::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-black;
        opacity: 0;
        z-index: 5;
    }

    &__menu {
        max-width: 1170px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 52px;
        margin: 0 auto;
        margin-bottom: 123px;
        position: relative;
        z-index: 3;
        overflow: hidden;

        @media screen and (max-width: 550px) {
            flex-wrap: wrap;
        }
    }

    &__content {
        max-width: 939px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 3;
    }

    &__title {
        font-family: $font-montserrat;
        font-weight: 700;
        font-size: 80px;
        line-height: 100%;
        letter-spacing: 10%;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        margin-top: 100px;
        margin-bottom: 20px;

        @media screen and (max-width: 1080px) {
            font-size: 60px;
        }

        @media screen and (max-width: 768px) {
            font-size: 40px;
        }

        @media screen and (max-width: 550px) {
            font-size: 30px;
        }
    }

    &__subtitle {
        font-family: $font-montserrat;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 240px;
    }

    &__dots {
        width: 20px;
        position: absolute;
        top: 295px;
        left: 94%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 3;

        @media screen and (max-width: 900px) {
            position: static;
            flex-direction: row;
            width: 65px;
            margin: 20px auto;
            z-index: 8;
            cursor: pointer;
        }
    }

    &__sentinel {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
    }
}

.arrow {
    margin: 0;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: $color-white;
    cursor: pointer;
    z-index: 3;
}

.arrow:hover {
    color: $color-black;
    background: $color-white;
    transition: all 0.5s ease;
}

.header__arrow {
    position: absolute;
    top: 680px;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
        color: $color-black;
        border: 1px solid $color-black;
    }
}

.main__arrow {
    margin: 0 auto;
    position: sticky;
    top: 20px;
    right: 48.5%;
    color: $color-black;
    border: 1px solid $color-black;
    display: none;
}

.logo {
    margin-right: 34px;

    @media screen and (max-width: 5500px) {
        margin-bottom: 30px;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;

    @media screen and (max-width: 900px) {
        justify-content: flex-end;
        padding-right: 30px;
    }

    @media screen and (max-width: 550px) {
        align-items: flex-start;
    }

    &__list {
        max-width: 515px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;

        @media screen and (max-width: 900px) {
            display: none;
            position: fixed;
            top: 0;
            right: 45px;
            width: 160px;
            height: 100%;
            background-color: $color-linear;
            padding: 200px 20px;
            z-index: 5;
            transform: translateX(200px);
            transition: transform 0.5s ease-in-out;
            display: block;
        }
    }

    &__link {
        width: 100%;
        display: flex;
        align-items: center;
        font-family: $font-source;
        font-weight: 400;
        font-size: 14px;
        color: $color-white;
        position: relative;
        cursor: pointer;
        line-height: 1.5px;
        text-decoration: none;

        @media screen and (max-width: 900px) {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }

    &__burger {
        display: none;

        @media screen and (max-width: 900px) {
            display: block;
            position: relative;
            width: 40px;
            height: 40px;
            color: $color-white;
            cursor: pointer;
            z-index: 15;
        }
    }

    &__line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 2px;
        background-color: $color-white;
    }

    &__line:nth-child(2) {
        top: 10px;
    }

    &__line:nth-child(1) {
        top: 30px;
    }
}

.open {
    transform: translateX(30px);
    transition: transform 0.5s ease-in-out;
}

.nav__link:hover {
    font-weight: 600;
    transition: all 0.5s ease;
}

.nav__link::after {
    display: block;
    position: absolute;
    left: 0;
    top: 15px;
    width: 0;
    height: 2px;
    background-color: $color-white;
    content: "";
    transition: width 0.4s ease-out;
    margin-top: 3px;
}

.nav__link:hover::after {
    margin-top: 2px;
    width: 100%;
}

.wrapper__dot {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 14px;
    border: 1px solid $color-white;
}

.nav__link:hover .nav__dot {
    background-color: $color-white;
    transition: all 0.5s ease;
}



.header__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $color-white;
    background-color: transparent;
    z-index: 23;
}

.active {
    background-color: $color-white;
}

.social {
    max-width: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 15px;

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 40px;
        height: 40px;
        border: 1px solid $color-white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item:hover {
        background-color: $color-white;
        transition: all 0.5s ease;
    }

    &__link {
        display: block;
    }

    &__img {
        width: 20px;
        height: 20px;
        fill: $color-white;
    }

    &__item:hover .social__img {
        fill: $color-hover;
        transition: all 0.5s ease;
    }
}

.fadeout {
    opacity: 0;
    /* изначально невидим */
    transition: opacity 1s ease-in-out;
    /* плавный переход */
}

.fadein {
    opacity: 1;
    /* конечное значение */
    transition: opacity 1s ease-in-out;
    /* плавный переход */
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: -2;
}

#map {
    width: 100%;
    height: 700px;
    z-index: 1;
    filter: hue-rotate(459deg) brightness(0.9) contrast(-1.2);
    transition: filter 0.5s ease;
}

.custom-icon {
    filter: hue-rotate(999deg) brightness(0.9) contrast(-1.2);
    // transition: filter 0.5s ease;
}

.controls {
    position: absolute;
    top: 12px;
    left: 50px;
    z-index: 1000;
    background: #4b9ce291;
    padding: 8px;
    border-radius: 6px;
    font-family: sans-serif;

    @media screen and (max-width: 535px) {
        display: none;
    }
}

.controls button {
    margin: 4px;
    padding: 6px 12px;
    cursor: pointer;
}

.leaflet-grab {
    cursor: pointer;
}

.leaflet-container {
    color: #ed17c2
}

.map__btn_1 {
    color: #047df6;
    font-size: 20px;
}

.map__btn_2 {
    color: #db17ed;
    font-size: 20px;
}

.orange {
    color: #d19004;
}

.map__btn_3 {
    color: #430601;
    font-size: 20px;
}

.leaflet-popup-content {
    font-size: 20px;
    color: #f42626;
}

.typing {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(20) forwards;
    border-right: 2px solid black;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}



@import "footer";
@import "news";
@import "form";