@import "vars";
@import "what_we_do";
@import "gallery";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;}

body {
    font-family: $font-montserrat;
    scroll-behavior: smooth;
    background: $color-white;
    height: 100%
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header__background {
    max-width: 1600px;
    width: 100%;
    height: 800px;
    background: $color-linear;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 1220px) {
            padding-left: 15px;
            padding-right: 15px;
        }
}

.header {
    width: 100%;
    // background-image: url(../assets/img/tu-tram-pham-202263\ 1.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;

    // новое

    &__images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; // ниже меню и точек
//   overflow: hidden;
}

&__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

&__images::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-black;
  opacity: 0;
  z-index: 5;
}

// &__img.fadein {
//   opacity: 1;
//   z-index: 2;
// }

// &__img.fadeout {
//   opacity: 0;
//   z-index: 1;
// }

// новое

    &__menu {
        max-width: 1170px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 52px;
        margin: 0 auto;
        margin-bottom: 123px;
        position: relative;
        z-index: 3;
    }

    &__content {
        max-width: 939px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 3;
    }

    &__title {
        font-family: $font-montserrat;
        font-weight: 700;
        font-size: 80px;
        line-height: 100%;
        letter-spacing: 10%;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        margin-top: 100px;
        margin-bottom: 20px;

        @media screen and (max-width: 1080px) {
            font-size: 60px;
        }
    }

    &__subtitle {
        font-family: $font-montserrat;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 240px;
    }

    &__dots {
        width: 20px;
        position: absolute;
        top: 295px;
        left: 94%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        gap: 20px;
        // position: relative;
        z-index: 3;
    }

    &__sentinel {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
    }
}

.arrow {
    margin: 0;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: $color-white;
    cursor: pointer;
    z-index: 3;

    // &--fixed {
    //     position: fixed;   /* переключаем, когда блок прокручен */
    //     top: 20px;
    //     left: 50%;
    // transform: translateX(-50%);
    // }

    // &--outside {
    //     color: $color-black;
    //     border: 1px solid $color-black;
    // }
}

    .header__arrow {
        position: absolute;
        top: 680px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main__arrow {
        margin: 0 auto;
        position: sticky;
        top: 20px;
        right: 48.5%;
        color: $color-black;
        border: 1px solid $color-black;
        display: none;
    }

.logo {
    margin-right: 34px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;

    &__list {
        max-width: 515px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        width: 100%;
        display: flex;
        align-items: center;
        font-family: $font-source;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: $color-white;
    }
}

.wrapper__dot {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 14px;
    border: 1px solid $color-white;
}

.header__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $color-white;
    background-color: transparent;
    z-index: 23;
}

.active {
    background-color: $color-white;
}

.social {
    max-width: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 15px;

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 40px;
        height: 40px;
        border: 1px solid $color-white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__link {
        display: block;
    }
}

.fadeout {
  opacity: 0;                 /* изначально невидим */
  transition: opacity 1s ease-in-out; /* плавный переход */
}

.fadein {
  opacity: 1;                 /* конечное значение */
  transition: opacity 1s ease-in-out; /* плавный переход */
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: -2;
}

#map {
    width: 100%;
    height: 700px;
    z-index: 1;
     filter: hue-rotate(459deg) brightness(0.9) contrast(1.2);
     transition: filter 0.5s ease;
}

.custom-icon {
    filter: hue-rotate(999deg) brightness(0.9) contrast(1.2);
    // transition: filter 0.5s ease;
}

.controls {
      position: absolute;
      top: 12px;
      left: 50px;
      z-index: 1000;
      background: #4be251;
      padding: 8px;
      border-radius: 6px;
      font-family: sans-serif;
    }

    .controls button {
      margin: 4px;
      padding: 6px 12px;
      cursor: pointer;
    }

    .leaflet-grab {
        cursor: pointer;
    }

    .leaflet-container {
        color: #ed17c2
    }

    .map__btn_1 {
        color: #042cf6;
        font-size: 20px;
    }

    .map__btn_2 {
        color: #17ed3e;
        font-size: 20px;
    }

    .map__btn_3 {
        color: #ed1703;
        font-size: 20px;
    }

.typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(20) forwards;
  border-right: 2px solid black;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}



@import "footer";
@import "news";
@import "form";
// //////////////////////////////////////////////
